<html ng-app="vCacheBrowser">

 <head>
  <title>Arnold Clark vCache Browser</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
  <script src="vcache.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">body { margin-top:70px; }</style>
 </head>
  
 <body>
  <div ng-controller="vCacheBrowserCtrl">
  
   <nav class="navbar navbar-default navbar-fixed-top" >
    <div class="container">
     <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">vCache Browser</a>
     </div>
     <div class="navbar-collapse collapse" aria-expanded="false" id="navbar">
     <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
       <input type="text" class="form-control" ng-model="stockRefInput" ng-change="encodeInput()"  placeholder="Stock Reference">
      </div>  
      <div class="form-group">
       <input type="text" class="form-control" ng-model="registrationInput" ng-change="encodeInput()" maxLength="7" placeholder="Vehicle Registration">
      </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
      	<li><a href="#/imgID/{{stockIdentifier}}">ID: {{stockIdentifier}}</a> </li>
      </ul> 
     </div><!--/.nav-collapse -->
    </div>
   </nav>
  
   <div class="container">
    <div class="row" id="images">
     <div class="col-xs-6 col-sm-4" ng-repeat="variant in imageSources.variants track by $index">
      <a href class="thumbnail" data-toggle="modal" data-target="#bigPicture" ng-click="bigPicture(variant)">
       <img ng-src="http://vcache.arnoldclark.com/imageserver/{{stockIdentifier}}/350/{{variant}}" class="img-responsive" />
      </a>
     </div>
    </div>
   </div>
    
   <div class="modal fade" id="bigPicture" tabindex="-1" role="dialog" aria-labelledby="bigPictureModal" aria-hidden="true">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <h4 class="modal-title">{{stockIdentifier}}/800/{{currentImage}}</h4>
      </div>
      <div class="modal-body">
       <img ng-src="http://vcache.arnoldclark.com/imageserver/{{stockIdentifier}}/800/{{currentImage}}" class="img-responsive">
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
     </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
   </div><!-- /.modal -->
  
  </div><!-- / vCacheBrowserCtrl -->
		
 <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
 </body>
</html>
<!-- Observations

Images return based on vehicle registration, stock-ref seems irrelevant.

vcache.arnoldclark.com/imageserver returns a status of 200 across any request.
Ideally, inactive/missing images would return a 30x or 404 response. 

-->